**/.DS_Store
.gradle
gradle.properties
build
**/bin/
out
*.iws
*.iml
*.ipr
**/.settings
*.prefs
**/.classpath*
**/.project
**/target/
.checkstyle
pom.xml
release.sh
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/prowide-core.iml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries-with-intellij-classes.xml
.idea/jpa-buddy.xml
.idea/runConfigurations.xml
.idea/.name
*.pb
.idea/sonarlint/issuestore/
.idea/sonarlint/issuestore/
.idea/sonarlint/issuestore/
.java-version
